/.settings
/.sts4-cache
/.classpath
/.project
/.tern-project
/.settings/
/target/api-cidade-spring/
/target/classes/
/target/m2e-wtp/
/target/maven-status/
/target/test-classes/
/target/maven-archiver/
.scannerwork/
